### 목표 
- sklearn을 이용해서 회귀 데이터를 학습해보자.
- LinearRegression 모델을 사용해보자.

##1. 모델정의

In [ ]:
from sklearn.linear_model import LinearRegression #회귀모델

In [ ]:
house_model =  LinearRegression()

## 2. 모델학습

### 1. 데이터로딩

In [ ]:
# 작업 경로 변경하기
%cd ./drive/MyDrive/Colab\ Notebooks/22.04.11\ 머신러닝

[Errno 2] No such file or directory: './drive/MyDrive/Colab Notebooks/22.04.11 머신러닝'
/content/drive/MyDrive/Colab Notebooks/22.04.11 머신러닝

In [ ]:
!pwd

/content/drive/MyDrive/Colab Notebooks/22.04.11 머신러닝

In [ ]:
# 데이터 불러오기
# 1. 판다스 import
import pandas as pd
# 2. csv 파일 로딩
house_data = pd.read_csv('./data/melb_data.csv')
# 3. 위쪽 5개 살펴보기
house_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [ ]:
house_data.info() #데이터 갯수, 결측치 유무, 컬럼이름, 데이터 타입

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [ ]:
# 결측지가 없고, 숫자로 구성된 데이터중에 일부를 선택해서 사용해보자.
X = house_data[['Rooms','Distance','Bathroom','Landsize','Lattitude','Longtitude']] # 여러개를 넣을때는 대괄호로 컬럼 묶어라 
y = house_data['Price']

In [ ]:
X.shape, y.shape

((13580, 6), (13580,))

In [ ]:
# 훈련용과 평가용으로 데이터를 분리해보자, 비율은 8:2, random_state=412
from sklearn.model_selection import train_test_split #훈련용, 평가용 데이터 분리

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=412)

In [ ]:
X_train.head()

       Rooms  Distance  Bathroom  Landsize  Lattitude  Longtitude
3022       4      13.7       1.0     692.0  -37.93860   145.00550
334        2       5.9       2.0       0.0  -37.77860   144.91410
9832       3      31.2       1.0     179.0  -38.07483   145.13133
10863      3      14.7       2.0     847.0  -37.88421   144.67869
10235      3      14.3       2.0     195.0  -37.79979   145.15665

In [ ]:
X_test.head()

       Rooms  Distance  Bathroom  Landsize  Lattitude  Longtitude
10142      3      16.1       1.0     392.0  -37.70433   145.12184
491        1       6.6       1.0       0.0  -37.87330   144.99700
9226       4      31.7       2.0     643.0  -37.68834   144.56803
12102      2       6.2       1.0     963.0  -37.84212   144.88211
40         3      13.5       2.0       0.0  -37.72030   144.87550

In [ ]:
y_train.head()

3022     1500000.0
334       540000.0
9832      590000.0
10863     529000.0
10235     871000.0
Name: Price, dtype: float64

In [ ]:
y_test.head()

10142    590000.0
491      280000.0
9226     400000.0
12102    582000.0
40       770000.0
Name: Price, dtype: float64

In [ ]:
X_train.shape, y_train.shape

((10864, 6), (10864,))

In [ ]:
X_test.shape, y_test.shape

((2716, 6), (2716,))

In [ ]:
house_model.fit(X_train,y_train) #지도학습

LinearRegression()

In [ ]:
house_model.coef_ #선형모델이 입력특성에 대해서 학습한 가중치

array([ 3.19904084e+05, -4.24902739e+04,  1.86938191e+05,  4.04283314e+00,
       -1.63108473e+06,  8.87040171e+05])

In [ ]:
house_model.intercept_ #절편

-190009122.20245534

y = 3.19904.048 * Romms - 42490.2739 * Distance + 186938.191 * Bathrooms + 4.04283314 * Landsize -1631084.73 * Lattitude + 887040.171 * Longtitude -190009122.2025

##3. 모델예측

In [ ]:
pre = house_model.predict(X_test)

##4. 모델평가
- 집 가격은 데이터의 형태가 수치형이기 때문에 정답인지 아닌지 명확하지 않다.(개인 기준에 따라서 달라질 수 있음)
- 수치형 데이터는 예측값과 실제값의 차이인 오차를 이용해서 모델을 평가

In [ ]:
from sklearn.metrics import mean_absolute_error  #평균 절대값 오차

In [ ]:
house_mae = mean_absolute_error(y_test,pre) #실제값, 예측값
house_mae

321470.49957908835

## 다른평가지표

In [ ]:
house_model.score(X_test, y_test)

0.44383536539265855